<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forward all requests to the public/ directory for Laravel
    RewriteCond %{REQUEST_URI} !^/tourist-spot-system/admin-system/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
