<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Forward all requests to the public/ directory for Laravel
    RewriteCond %{REQUEST_URI} !^/tourist-spot/web/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
